<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EC DEMO</title>
  </head>

  <body>
    {{render_widget "header"}}

    {{render_widget "product_list"}}

    {{render_widget "footer"}}
  </body>
</html>
