<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EC DEMO</title>
  </head>

  <body>
    {{"header"}}

    {{render_widget "TopBanner" nil "Banner"}}

    {{"footer"}}
  </body>
</html>
