package main

import (
	"fmt"
	"net/http"

	"{{package_path}}/config/routes"
	"{{package_path}}/config/api"
	"{{package_path}}/config/admin"
	_ "{{package_path}}/config/widgets"
)

func main() {
	var (
		mux  = http.NewServeMux()
		port = 7000
	)

	mux.Handle("/", routes.GetRouter())
	api.GetAPI().MountTo("/api", mux)
	admin.GetAdmin().MountTo("/admin", mux)

	fmt.Printf("Listening on: %v\n", port)
	if err := http.ListenAndServe(fmt.Sprintf(":%d", port), mux); err != nil {
		panic(err)
	}
}
