package models

import (
	"github.com/jinzhu/gorm"
	{{if has_option "l10n"}}"github.com/qor/l10n"{{end}}
)

type Size struct {
	gorm.Model
	Name string
	Code string {{if has_option "l10n"}}`l10n:"sync"`{{end}}

	{{if has_option "l10n" -}}
	l10n.Locale
	{{- end}}
}

